################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/opencl-char-pol/.vs/opencl-par-pol/v14/.suo
